*{
    margin:0px;
    padding:0px;
}
header{
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: black;
     color: red;
     font-size: 50px;
     font-weight: bold;x
}
body{
    height: 1000px;
    background-color: brown; 
}
div{
    height: 400px;
    width: 300px;
    margin-top: 10%;
    margin-left: 40%;
    background-color: beige;
    border: 4px black solid;
}