*{
    padding: 0px;
    margin: 0px;
}
body{
    background-size: cover;
    background-image: url("bg.png");
    background-repeat: no-repeat;
   
}
#header{
   height: 100px;
   display: flex;
   justify-content: space-between;
   color: white;
   margin-top: 90px;
   font-weight: bold;
   font-size: 40px;
}
#logo{
    margin-left: 83px;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
#insta{
    padding: 0px 20px 0px 20px;
    border: 2px white solid;
    border-radius: 3px;
    margin-right: 80px;
}
main{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
#digi{
    margin-top: 5%;
    margin-left: 81px;
    font-size: 100px;
    color: white;
    font-weight:bold;
}
#img{
    margin-top: 150px;
   
   
}
#cta{
    color: white;
    margin-left: 5%;
    margin-top: 10%;
    margin-right: 30%;
    font-size: 200%;
}
#buy{
    margin-left: 20%;
    margin-top: 5%;
    height: 80px;
    width: 300px;
    border-radius: 20px;
    background-color: gold;
}
#buy a{
     font-size: 30px;
     font-weight: bold;
     color: black;
}
button{
    margin-top: 30px;
    height: 50px;
    width: 300px;
    background-color: #961E51;
    color: white;
    font-size: larger;
    font-weight: bold;
    border: 2px  white solid;
    border-radius: 20px;
}
