.boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    margin-top: 10px;
    height: 300px;
    width: 200px;
    background-color: blanchedalmond;
    border: 1px solid black;
    margin-left: 2px;
}