*{
    margin: 0px;
    padding: 0px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

}
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
}
.logo{
    margin-left: 4%;
}
.myntra_home{
    height: 45px;
}
.nav_bar{
    min-width: 500px;
    display: flex;
    justify-content: space-between;
}
.action_bar{
    margin-right: 4%;
}
.nav_bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    border-bottom: 5px solid #ffffff;   
}
.nav_bar a sup{
    color: #ff3fc6;
    font-size: 10px;
}